/*--------------------------------------------header*/

header {
    padding-bottom: 15px;
}

.hero-image {
    background: url("../images/rebel.jpg");
    background-position: 10% 25%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    
    
}

.hero-text {
    text-align: left;
    color: #f3f3f3;
}

#nav>a {
    color: #e5de00;
    
    
}



/*--------------------------------------------about*/

.about-parent {

    padding-top: 25px;
    margin-right: 0px;
}

.rebel-img {
    width: 150px;
    height: inherit;
    background: url("../images/rebel-profile.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    max-width: 40%;
    margin-left: 5%;
    margin-bottom: 15px;
    
}

 #about {
    
    padding: 25px 30px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    max-width: 40%;
    margin-left: 10%;
    margin-bottom: 15px;
    
}

/*--------------------------------------------visitor information*/



.info-section {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 1em; 
    height: 100%;
}

.info-section>h2 {
    text-align: center;
}

section>h1 {
    text-align: center;
}

/*--------------------------------------------bird images*/

#barn-owl {
    background: url("../images/barn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    height: 250px;
    
}

#tawny-owl {
    background: url("../images/tawny.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    height: 250px;
    
}

#little-owl {
    background: url("../images/little.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    height: 250px;
    
}

#long-eared {
    background: url("../images/long-eared.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    height: 250px;
    
}

#buzzard {
    background: url("../images/buzzard.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    height: 250px;
    
}

/*--------------------------------------------background colors*/


body {
    background-color: #48494b;
}

.bg-yellow {
    background-color: #e5de00;
    border: solid 1px black;
}

/*--------------------------------------------footer*/

footer {
    background-color: #404033;
    color: #f8f8f8;
    margin: 0;
    position: relative;
    bottom: 0;
}

.contact  {
    padding: 15px 0;
}

.contact div {
    display: inline-block;
    padding-right: 20px;
}

.social-links {
    padding: 15px 15px 0 0;
}

.social-links li a i {
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: #9e9e9e;
}