/*--------------------------------------------header*/

.hero {
    padding: 0;
    position: relative;
}

header {
    
    margin-bottom: 1em;
}

.hero-image {
    background: url("../images/rebel.jpg");
    background-position: 10% 25%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    
    
}

.hero-text {
    color: #f3f3f3;
}



#nav>a {
    color: #e5de00;
    background-color: #48494b;
    margin: 0;
    display: inline-block;
    border-bottom: solid 1px black;
    
    
}

.navigation {
    background-color: #48494b;
    position: absolute;
    bottom: 0;
    right: 0;
    
}

.navbar {
    padding: 0;
}




/*--------------------------------------------about*/


.rebel-img {
    
    
    padding-left: 0;
    overflow: hidden;
    text-align: center;   
}

.rebel-img img {
    margin: 0 auto;
    border: solid 1px black;
}

 #about {
    
    padding: 1em;
    border: solid 1px black;
    
    
}



/*--------------------------------------------visitor information*/



.info-section {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 1em; 
    height: 100%;
}

.info-section>h2 {
    text-align: center;
}

section>h1 {
    text-align: center;
}

#flight h3, #flight p {
    height: 20%;
    min-height: 2em;
}

#flight>h2 {
    height: 25%;
}

.map-container {
    text-align: center;
    margin: 1em;
}

.map {
    border: solid 1px black;
    width: 600px;
    height: 450px;
    margin: 0 auto;
}

h1 {
    color: #f3f3f3;
}





/*--------------------------------------------bird images*/

#barn-owl, 
#tawny-owl, 
#little-owl, 
#long-eared, 
#buzzard {
    
    
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

#barn-owl img, 
#tawny-owl img, 
#little-owl img,
#long-eared img,
#buzzard img {
    
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 100%;
    
    
}

.bbp {
    margin-bottom: 1em;
}



/*--------------------------------------------background colors*/


body {
    background-color: #48494b;
}

.bg-yellow {
    background-color: #e5de00;
    border: solid 1px black;
}

/*--------------------------------------------footer*/

footer {
    background-color: #404033;
    color: #f8f8f8;
    margin: 1em 0 0 0;
    position: relative;
    bottom: 0;
}

.contact  {
    padding: 1em;
}

.contact div {
    display: inline-block;
    padding-right: 1em;
}

.social-links {
    padding: 1em 0;
}

.social-links li a i {
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: #9e9e9e;
}